@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #059669;
    --primary-hover-color: #047857;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.bg-multiply {
    background: url('/assets/images/auth_bg.jpg') center / cover no-repeat;
}

/* Pagination */
.pagination {
    width: fit-content;
    background: #3a3a3a;
    padding-left: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
}

.pagination button {
    margin-right: 0.5rem;
    cursor: pointer;
    padding: 4px 8px;
}

.pagination button:disabled {
    background-color: #333;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: not-allowed;
}
